* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

.gallery {
	display: grid;
	margin: auto;
	align-content: center;
	width: 80%;
	gap: 1em;
	grid-template-columns: repeat(4, 1fr);
}

.searchbar {
	width: 45%;
	height: 45px;
	padding-left: 20px;
	font-size: larger;
    border-color: rgb(184, 184, 184);
    border-style: solid;
    border-radius: 3px;
}

img {
	width: 100%;
}

#search-box {
	text-align: center;
	margin: 3em;
}